@import url("footer.css");

.jumbotron {
  background-color: #fff;
}

.jumbotron .container {
  max-width: 40em;
}

section {
    margin-bottom: 2em;
}

section.row {
    text-align: justify;
}

section.row h6 {
    text-align: left;
}

section#content {
    margin-top: 3em;
    margin-bottom: 3em;
    max-width: 80%
}

article.about-person {
    max-width: 75%;
    text-align: justify;
}

img {
    margin: 1em;
}

h2, h3, h4 {
    margin-top: 1em;
    margin-bottom: 1em;
}

table td, table th {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

nav {
    border-bottom: 1px solid #ddd;
    border-radius: 0 !important;
}
