---
layout: page
---

{% assign pages = site.pages |sort:"title" %}
{% assign publications = site.posts |sort:"title" %}


<section class="jumbotron text-xs-center">
    <article class="container">
        <h1>{{ site.title }}</h1>
        <p class="lead text-muted">{{ site.description }}</p>
        <p class="pull-xs-re">
            <a href="tel:{{ site.contact.phone|remove:' ' }}" class="btn btn-success">{{ site.contact.phone }}</a>
            <a href="mailto:{{ site.contact.email }}" class="btn btn-success">{{ site.contact.email }}</a>
        </p>
    </article>
</section>


<h3>Szkolenia otwarte i zamknięte</h3>
<section class="row">
    {% for course in pages %}{% if course.layout == 'training-course' and course.published %}
        <article class="col-sm-4">
            <h6><a href="{{ course.url }}">{{ course.title }}</a></h6>
            <p>{{ course.description |truncate: 200 }}</p>
            <p><a class="btn btn-primary" href="{{ course.url }}" role="button">Szczegóły &raquo;</a></p>
        </article>
    {% endif %}{% endfor %}
</section>


<h3>Slajdy z wystąpień publicznych</h3>
<section class="row">
    {% for presentation in pages %}{% if presentation.layout == 'presentation' and presentation.published %}
        <article class="col-sm-4">
            <h6><a href="{{ presentation.url }}">{{ presentation.title }}</a></h6>
            <p>{{ presentation.description |truncate: 200 }}</p>
            <p><a class="btn btn-primary" href="{{ presentation.url }}" role="button">Szczegóły &raquo;</a></p>
        </article>
    {% endif %}{% endfor %}
</section>


<h3>Publikacje</h3>
<section class="row">
    {% for publication in publications %}
        <article class="col-sm-4">
            <h6><a href="{{ publication.url }}">{{ publication.title }}</a></h6>
            <p>{{ publication.description |truncate: 200 }}</p>
        </article>
    {% endfor %}
</section>
