---
layout: page
---

<pre>
We:  You’re Jimmie, right? This is your house?
You: Yeah.
We:  I’m Winston Wolf, I solve problems.
You: Good‚ cause we got one.
We:  So I heard. May I come in?
You: Please do.
##   The two men walk to the dining room.

P.S. It’s about thirty minutes away. I’ll be there in ten. :)
</pre>


Talks:
<ul>
{% for talk in site.pages reversed %}{% if talk.categories == 'talk' %}

        <li><a href="{{ talk.url }}">{{ talk.title }}</a></li>

{% endif %}{% endfor %}
</ul>


<p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" }}">via RSS</a></p>
