---
layout: page
permalink: /publications/
---


<p class="rss-subscribe">Subscribe <a href="/feed.xml">via RSS</a></p>

<h3>Blogposts</h3>
<section class="row">
    {% for publication in site.categories['Blogpost'] %}

        <article class="col-sm-4">
            <h6><a href="{{ publication.url }}">{{ publication.title }}</a></h6>
        </article>

    {% endfor %}
</section>


<h3>Video</h3>
<section class="row">
    {% for publication in site.categories['Video'] %}

        <article class="col-sm-4">
            <h6><a href="{{ publication.url }}">{{ publication.title }}</a></h6>
        </article>

    {% endfor %}
</section>


<h3>Slides</h3>
<section class="row">
    {% for publication in site.categories['Slides'] %}

        <article class="col-sm-4">
            <h6><a href="{{ publication.url }}">{{ publication.title }}</a></h6>
        </article>

    {% endfor %}
</section>


<h3>Review</h3>
<section class="row">
    {% for publication in site.categories['Review'] %}

        <article class="col-sm-4">
            <h6><a href="{{ publication.url }}">{{ publication.title }}</a></h6>
        </article>

    {% endfor %}
</section>


<h3>Code Samples</h3>
<section class="row">
    {% for publication in site.categories['Code Sample'] %}

        <article class="col-sm-4">
            <h6><a href="{{ publication.url }}">{{ publication.title }}</a></h6>
        </article>

    {% endfor %}
</section>


<h3>Crossposts</h3>
<section class="row">
    {% for publication in site.categories['Crosspost'] %}

        <article class="col-sm-4">
            <h6><a href="{{ publication.url }}">{{ publication.title }}</a></h6>
        </article>

    {% endfor %}
</section>
