---
title: Conference Talks
permalink: /talks/
layout: page
---

{% assign presentations = site.pages |sort:"title" %}

<h2>Presentations</h2>
<section class="row">
    {% for presentation in presentations %}{% if presentation.layout == 'presentation' and presentation.published %}
        <article class="col-sm-4">
        <h6><a href="{{ presentation.url }}">{{ presentation.title }}</a></h6>
        <p>{{ presentation.description |truncate: 200 }}</p>
        </article>
    {% endif %}{% endfor %}
</section>
