---
title: Conference Talks
permalink: /talks/
layout: page
main_menu_title: Talks
---

<table>
    <thead>
        <tr>
            <th>Title</th>
            <td>Speaker</td>
        </tr>
    </thead>

<tbody>
{% for talk in site.pages reversed %}{% if talk.categories == 'talk' %}

    <tr>
        <th><a href="{{ talk.url }}">{{ talk.title }}</a></th>
        <td><a href="/people/{{ talk.speaker |replace:' ', '-' }}">{{ talk.speaker }}</a></td>
    <tr>

{% endif %}{% endfor %}
</tbody>
</table>

</table>
