<!DOCTYPE html>
<html lang="{{ page.lang |default:'en' }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ page.title |defaut: site.title }}</title>
    <meta name="author" content="{{ page.author |default: site.author }}">
    <meta name="description" content="{{ page.description |default: site.description }}">

    <link rel="cannonical" href="{{ site.url }}{{ page.permalink |default: page.url }}">
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="alternate" href="/feed.xml" type="application/rss+xml" title="RSS Feed for {{ site.url }}">
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="RSS Feed for {{ site.url }}">
</head>

<body>

    <nav class="navbar navbar-light bg">
        <a href="{{ site.url }}" class="navbar-brand">{{ site.title }}</a>
        <ul class="nav nav-pills pull-xs-right">
            <li class="nav-item"><a class="nav-link" href="/">Main Page</a></li>
            <li class="nav-item"><a class="nav-link" href="/training-courses/">Training Courses</a></li>
            <li class="nav-item"><a class="nav-link" href="/presentations/">Presentations</a></li>
            <li class="nav-item"><a class="nav-link" href="/publications/">Publications</a></li>
            <li class="nav-item"><a class="nav-link" href="/about/">About</a></li>
        </ul>
    </nav>

    <section class="container" id="content">
        {{ content }}
    </section>

    <footer>
        <p class="pull-xs-right"><a href="#">Back to top</a></p>
        <article class="site-description">
            <h4>{{ site.title }}</h4>
            <p>{{ site.description }}</p>
        </article>

        <article>
            <h4>Contact</h4>
            <ul class="list-unstyled">
                <li><a href="tel:{{ site.contact.phone|remove:' ' }}">{{ site.contact.phone }}</a></li>
                <li><a href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a></li>
                <li><a href="https://linkedin.com/in/mattharasymczuk">Linkedin</a></li>
                <li><a href="https://www.facebook.com/MattAgile">Facebook</a></li>
            </ul>
        </article>
    </footer>

    <script src="/js/google-analytics.js"></script>
</body>
</html>
