<!doctype html>
<html lang="{{ page.lang |default:'en' }}">

<head>
	<meta charset="utf-8">

	<title>{{ site.title |defaut: page.title }}</title>

    <meta name="author" content="{{ page.author |default: site.author }}">
	<meta name="description" content="{{ page.description |default: site.description }}">
    <link rel="cannonical" href="{{ site.url }}{{ page.permalink |default: page.url }}">

	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <script src="/js/jquery-2.2.1.min.js"></script>
    <script src="/js/jquery.toc/jquery.toc.js"></script>
</head>

<body>
    <header>
        <ul>
            <li>Matt Harasymczuk</li>
            <li><a href="http://mattagile.com">MattAgile.com</a></li>
            <li><a href="tel:+48733231337">+48 7332 31337</a></li>
            <li><a href="https://linkedin.com/in/mattharasymczuk">Linkedin</a></li>
            <li><a href="https://www.facebook.com/MattAgile">Facebook</a></li>
        </ul>
    </header>

    {{ content }}

    <div id="instructors">
    {% for instructor in page.instructors %}

        <div class="instructor">
            {% capture about %}{% include {{instructor}}/about-pl.md %}{% endcapture %}
            {% assign about = about |split: '---' %}
            <div class="about">{{ about[2] |markdownify }}</div>
        </div>

    {% endfor %}

    <script>$("h1:first").after('<ul data-toc></ul>');</script>
</body>
</html>
